apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespace }}
  labels:
    owner: {{ .Values.owner }}
    environment: {{ .Values.environment }}
    
    {{- with .Values.customLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}